header {
    padding: 12px;
    margin: 0px;
}


nav h2{
    display: inline;
    padding: 10px;
}

h2 {
    margin-top: 40px;
}

a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

a:hover {
    color: black;
}

h1
{
    font-family: 'Aclonica';
    font-size: 46px;
}

body 
{
    font-family: 'Anaheim';
    font-size: 18px;
    background-color: rgb(237,224,221);
    text-align: center;
}

nav
{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

nav a 
{
    margin-left: 40px;
}

article 
{
    font-size: 25px;
}

.wide-image 
{
    width: 700px;
    border: 1px solid black;
}

img 
{
    display: block;
   margin: 0px auto;
}

article {
    font-size: 18px;
    width: 900px;
    margin: 0px auto;
    text-align: left;
}

.article-header
{
    font-size: 35px;
    width: 75%;
    margin: 20px auto;
}